<div class="filter-container">
  <input type="text" class="form-control mx-2" placeholder="Search by name" [(ngModel)]="searchKey">
  <button type="button" class="btn btn-primary">Add</button>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Department Code</th>
    <th>Department Name</th>
    <th class="text-center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dept of departments | filter:'deptName':searchKey">
    <td>{{dept.deptCode}}</td>
    <td>{{dept.deptName}}</td>
    <td class="text-center"><i class="fa-solid fa-trash" (click)="onDelete(dept.deptId)"></i></td>
  </tr>
  </tbody>
</table>
