<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Employee Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> Employee <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Attandance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Deparments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Annoncements</a>
          </li>
      </ul>
      
          
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link " href="#">Sign out</a>
        </li>
      </ul>
  </nav>