/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

:root{
  --color-red:#e74c3c;
  --color-theme:#182C61;
}

p{
  margin-bottom: .6rem !important;
}
hr{
  margin: .6rem 0!important;
}

body{
  background-color: #dfe6e9!important;
}
.card{
  width: 95%;
  margin: 20px auto;
}
.filter-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter-container .form-control{
  width: 30%;
}
.form-control{
  outline: none !important;
  border:1px solid lightgrey;
}
.form-control:focus{
  box-shadow: none!important;
}
i{
  cursor: pointer;
}
i.fa-trash{
  color: var(--color-red);
}
ul{
  list-style-type: none;
}
.checkin-btn{
  background: #1abc9c !important;
}
.checkout-btn,.checkin-btn{
  font-size: .9rem!important;
  color: #fff !important;
  text-transform: capitalize;
  padding: 6px 15px!important;
  border-radius: 5px;
  border-color: initial;
}
.checkout-btn{
  background: #e74c3c !important;
}
